.dart_tool/
build/

android/.gradle/
android/build/
android/.kotlin/
android/app/build/

*.log
hs_err_pid*.log

.idea/
.vscode/

.flutter-plugins
.flutter-plugins-dependencies

android/local.properties

.DS_Store
Thumbs.db